@model IEnumerable<AMS.Models.LeaveIndexViewModel>

<label class=" control-label" style="font-size:35px;margin:10px">請假報表</label>
    <div class="page-inner">
        <div class="card">
            <div class="card-head-row">
                <p>
                    @Html.ActionLink("請假申請", "Create", "Create", new { @class = "btn btn-outline-primary" })
                    @*<div>
                        <input type="checkbox" checked />全選
                        <div style="border:2px solid black;width:300px">
                            <input type="checkbox" checked /><label>事假</label>
                            <input type="checkbox" checked /><label>病假</label>
                            <input type="checkbox" checked /><label>公假</label>
                            <input type="checkbox" checked /><label>喪假</label>
                            <input type="checkbox" checked /><label>特休假</label>
                            <input type="checkbox" checked /><label>產假</label><br />
                            <input type="checkbox" checked /><label>陪產假</label>
                            <input type="checkbox" checked /><label>生理假</label>
                            <input type="checkbox" checked /><label>補休假</label>
                            <input type="checkbox" checked /><label>家庭照顧假</label>
                        </div>
                    </div>*@


                    <div class="form-group">
                        <label class="form-label">你的假別</label>
                        <div class="selectgroup selectgroup-pills">
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="事假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">事假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="病假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">病假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="公假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">公假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="喪假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">喪假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="特休假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">特休假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="產假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">產假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="陪產假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">陪產假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="生理假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">生理假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="補休假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">補休假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value" value="家庭照顧假" class="selectgroup-input" checked>
                                <span class="selectgroup-button">家庭照顧假</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="checkbox" name="value1" value="全選" class="selectgroup-input" id="CheckAll" checked  >
                                <span class="selectgroup-button" >全選</span>
                            </label>
                        </div>
                    </div>


                </p>
            </div>

            <div class="card-header row form-group">
                <label class=" control-label" style="font-size:20px;margin-left:20px">開始時間:</label>
                <div class="col-sm-2">
                    <input id="StartTime" name="StartTime" type="date" class="form-control" />
                </div>
                <label class=" control-label" style="font-size:20px;margin-left:20px">結束時間:</label>
                <div id="ddlemp" class="col-sm-2">
                    <input id="EndTime" name="EndTime" type="date" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <button id="Search" name="Search" class="form-control">搜尋</button>

                </div>
            </div>


            <div class="card-body">
                <div class="table-responsive" id="LeaveTable">
                    @Html.Partial("_LeaveIndexPartialView", Model)

                </div>
            </div>
        </div>
    </div>


    @section scripts
{

        <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();     //隱藏搜尋功能
            $("#CheckAll").click(cAll);                //全選功能
            $('#Search').bind("click",
                function () {
                    Lrsearch();
                });


            d = new Date();
            $("#StartTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate() -7 ));
            $("#EndTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()+1));
        });


            function cAll() {
                if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                    $("input[name='value']").each(function () {
                        $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
                    })
                } else {
                    $("input[name='value']").each(function () {
                        $(this).prop("checked", false);//把所有的核方框的property都取消勾選
                    })
                }
            }



        function Lrsearch() {
            let a = $("#StartTime").val()
            let st = a.split('-')
            let Start = st[0] + st[1] + st[2]
            let et = $("#EndTime").val().split('-')
            let End = et[0] + et[1] + et[2]
            $.ajax({

                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "LeaveRequests", action = "LeaveTable" })/" + Start + "/" + End,
                }).done(function (result) {
                    $("#LeaveTable").html(result);
                    $('#basic-datatables').DataTable({
                    });

                    $("#basic-datatables_filter").hide();
   
                }).fail(function(e){
                alert(e.responseText);
                });
        }
        function zeroPadded(val) {
            if (val >= 10)
                return val;
            else
                return '0' + val;
        }

        $("#StartTime").bind("change", function () {
            if ($("#StartTime").val() > $("#EndTime").val()) {
                timechange();
                $("#StartTime").val($("#EndTime").val());
            }

        });



        function timechange() {
            swal("起始時間不可大於最後時間!", "", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-info'
                    }
                },
            });
        }

        $("#EndTime").bind("change", function () {
            if ($("#EndTime").val() < $("#StartTime").val()) {
                timechange();
                $("#EndTime").val($("#StartTime").val());
            }

        });







        </script>
    }
