

@media screen and (max-width:600px) {
    label {
       
        text-align: left;
    }
    table.table-striped tr td:first-of-type:before {
        padding-bottom: 10px;
    }
    table.table-striped tr td:first-of-type {
        border-bottom: 1px solid #e4ebeb;
    }
    table.table-striped tr td:first-of-type,
    table.table-striped tr:nth-of-type(2n+2) td:first-of-type,
    table.table-striped tr td:first-of-type:before {
        background: #0275d8;
        color: #ffffff;
   
    }
    table.table-striped thead {
        background-color: #6E75A4
    }

    #myChart {
        width: 250px;
        height: 150px;
    }

}
@media screen and (min-width: 601px) {
    label {
        text-align: right;
    }

    table.table-striped td {
        font-size: 16px;
    }
    table.table-striped th {
        background-color: #6E75A4
    }
    table.table-striped th, td {
        font-size: 16px;
        font-family: 'Microsoft JhengHei';
        text-align: center;
    }
    table.table-striped td:before {
        display: none;
    }
    table.table-striped thead {
        background-color: #6E75A4
    }
    table.table-striped th, table.table-striped td {
        display: table-cell;
        padding: 0.25em 0.5em 0px 0px;
    }

        table.table-striped th:first-child,
        table.table-striped td:first-child {
            padding-left: 0;
        }

        table.table-striped th:last-child,
        table.table-striped td:last-child {
            padding-right: 0;
        }

    table.table-striped th,
    table.table-striped td {
        padding: 1em !important;
    }
    #myChart {
        width: 350px;
        height: 150px;
    }

}

@media print {
    
    body {
        -webkit-print-color-adjust: exact;
    }

    .noprint {
        display: none;
    }

    .main-panel {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto;
        margin-top: 0px !important;
        border: 1px solid;
    }
    #myChart {
        width: 250px;
    }
    table {
        border-collapse: collapse;
        border: 1px solid #000000;
 
    }

    td {
     
    }

    tr {
      
    }

    table.table-striped td {
        font-size: 16px;
    }

    table.table-striped th {
        background-color: #6E75A4
    }

    table.table-striped th, td {
        font-size: 16px;
        font-family: 'Microsoft JhengHei';
        text-align: center;
    }

    table.table-striped td:before {
        display: none;
    }

    table.table-striped thead {
        background-color: #6E75A4
    }

    table.table-striped th, table.table-striped td {
        display: table-cell;
        padding: 0.25em 0.5em 0px 0px;
    }

        table.table-striped th:first-child,
        table.table-striped td:first-child {
            padding-left: 0;
        }

        table.table-striped th:last-child,
        table.table-striped td:last-child {
            padding-right: 0;
        }

    table.table-striped th,
    table.table-striped td {
        padding: 1em !important;
    }
}


