@media screen and (max-width:600px) {
    label {
       
        text-align: left;
    }
    table.table-striped tr td:first-of-type:before {
        padding-bottom: 10px;
    }
    table.table-striped tr td:first-of-type {
        border-bottom: 1px solid #e4ebeb;
    }
    table.table-striped tr td:first-of-type,
    table.table-striped tr:nth-of-type(2n+2) td:first-of-type,
    table.table-striped tr td:first-of-type:before {
        background: #0275d8;
        color: #ffffff;
   
    }




}
@media screen and (min-width: 601px) {
    label {
        text-align: right;
    }

    table.table-striped td {
        font-size: 16px;
    }

    table.table-striped th, td {
        font-size: 16px;
        font-family: 'Microsoft JhengHei';
        text-align: center;
    }
    table.table-striped td:before {
        display: none;
    }

    table.table-striped th, table.table-striped td {
        display: table-cell;
        padding: 0.25em 0.5em 0px 0px;
    }

        table.table-striped th:first-child,
        table.table-striped td:first-child {
            padding-left: 0;
        }

        table.table-striped th:last-child,
        table.table-striped td:last-child {
            padding-right: 0;
        }

    table.table-striped th,
    table.table-striped td {
        padding: 1em !important;
    }

}



