
@{
    ViewBag.Title = "AjaxView";
}

<h2>AjaxView</h2>
@Html.DropDownList("Customers", null, "-- 請選擇 --", new { @class = "col-sm-11 form-control" })
<div id="Container"></div>

@section scripts{
    <script>
        $.ajax({
            type: "POST",
            url: "@Url.Action("Index2","Review")/" + Customer.value
        }).done((result) => {
            $("Container").html(result);


        }).fail((e) => {
            $("Container").html(e);



        });
    </script>
}
