
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitViewMobile</title>
</head>
<body>
    <div data-role="header">
        <h1>線上核准</h1>
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="@Url.Action("LeaveViewMobile")">請假核准</a>
                </li>
                <li>
                    <a href="@Url.Action("OverTimeViewMobile")">加班核准</a>
                </li>
                <li>
                    <a href="#">補打卡核准</a>
                </li>
            </ul>
        </div>
    </div>

    <div >
        更新成功
    </div>
</body>
</html>
