@model IEnumerable<AMS.Controllers.EmployeesViewModel>

@{
    ViewBag.Title = "Index";
}

<label class=" control-label" style="font-size:35px;margin:10px">員工管理</label>

<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card" id="mmmmmm">
                @Html.Partial("_emplistPartial", Model);
            </div>
        </div>
    </div>
</div>