@model IEnumerable<AMS.Controllers.SerchAttendancesViewModel>


@{
    /**/

    ViewBag.Title = "SerchLeave";
}


<div class="page-inner">
    <div style="background-color:#91989F">
        <h1>
            <span class="badge" style="color:#FFFFFB">刷卡明細查詢</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="mmmmmm">
                <form style="margin-left:10px;" method="post" action="/Employees/SerchLeave">
                    <div class="card-header row form-group">
                        <div class="row col-md-12">
                            <div class="col-md-1 col-sm-1">
                                <label class=" control-label" style="font-size:20px;margin-left:20px">起始時間</label>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <input name="time1" id="time1" class="form-control" type="date" />

                            </div>
                            <div class="col-md-1 col-sm-1">
                                <label class=" control-label" style="font-size:20px;margin-left:20px">到</label>
                            </div>
                                <div  class="col-md-2 col-sm-4">
                                    <input name="time2" id="time2" class="form-control" type="date" />
                                </div>
                                <div class="col-md-2 col-sm-4 noprint">
                                    <button id="Button1" type="button" class="btn btn-search" style="background-color:#787D7B;font-family:'Microsoft JhengHei';color:#FFFFFB" onclick="GetSerchList('@Url.Action("SerchAttendances", "Employees")')">
                                        <i class="fa fa-search fa-fw"></i><span>
                                            <strong>搜尋</strong>
                                        </span>
                                    </button>

                                </div>
                            </div>
                        <div class="row col-md-12">
                            <div class="col-md-1 col-sm-1">
                                <label class=" control-label" style="font-size:20px;margin-left:20px">部門      </label>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                @Html.DropDownList("Department", null, "-請選擇-", new { @class = " form-control",@onclick= "SearchUpdateddl()" })
                            </div>
                            <div class="col-md-1 col-sm-1">
                                <label class=" control-label" style="font-size:20px;margin-left:20px">員工      </label>
                            </div>
                                <div id="ddlemp" class="col-md-2 col-sm-4">
                                    @Html.DropDownList("Employees", null, "-請選擇-", new { @class = " form-control" })
                                </div>
                            </div>
                        </div>
                </form>
                <div class="form-group noprint">

                    <div class="float-left">

                        <button type="button" onclick="EmployeePrint()" class="btn btn-search mb-3" style="background-color:#f1f0ed;color:#3A3226">
                            <i class="icon-logout"></i> <span>
                         <strong>轉換PDF</strong>
                            </span>
                        </button>
                    </div>

                    @*<input type="button" value="匯出Excel" onclick="Export()" class="btn btn-sm " style="background-color:#f1f0ed;color:#91989F" />*@
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="Employeestable">
                        @Html.Partial("_SerchAttendancesPartial", Model);
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

  


}