
@{
    Layout = "~/Views/Shared/_LineLayout.cshtml";

}
@section scripts1
{
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

    <script>
        //init LIFF
        function initializeApp(data) {

            $('#Lineid').val(data.context.userId);

        }
        //ready
        $(function () {
            //init LIFF
            liff.init(function (data) {
                initializeApp(data);
            });        
            $('#BtnSend').click(function () {


                $.ajax({
                    url: "@Url.Action("LineIdBindView", "Account")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "LineID": $('#Lineid').val(),
                        "Password": $('#possword').val(),
                        "EmployeeID": $('#employeeid').val()

                    },
        //data: {"EmployeeID": EmployeeID.value,},
    }).done(function (result) {
        
        alert(result.msg);

    }).fail(function (e) { alert(e.responseText) });

            });
          
        });
    </script>
}
<body>
    <div class="row">
        <div class="col-md-6" style="margin:5px">
            <label>Line id:</label>
            <input class="form-control" type="text" id="Lineid" />   <br />

            <label>員工編號:</label>
            <input class="form-control" type="text" id="employeeid" /><br />
            <label>密碼:</label>
            <input class="form-control" type="text" id="possword" /><br />
            <button class="btn btn-primary" id="BtnSend">送出</button>


            @*<label>QueryString:</label>
                <input class="form-control" type="text" id="QueryString" /><br />
                <button class="btn btn-primary" id="ButtonGetProfile">Get Profile</button>
                <input class="form-control" type="text" id="UserInfo" /><br />
                <label>要傳送的訊息:</label>*@
            @*<input class="form-control" type="text" id="msg" value="測試" /><br />
                <button class="btn btn-primary" id="ButtonSendMsg">要傳送的訊息</button>*@
        </div>
    </div>
</body>
