@model IEnumerable<AMS.Models.OverTimeViewModel>

@{
    ViewBag.Title = "Index";
}



<body>

    <div class="page-inner">
        <div style="background-color:#91989F">
            <h1>
                <span class="badge" style="color:#FFFFFB">個人加班明細查詢</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="mmmmmm">
                    <div class="card-header row form-group">
                        <label class=" control-label" style="font-size:20px;margin-left:20px">開始時間:</label>
                        <div class="col-sm-2">
                            <input id="StartTime" name="StartTime" type="date" class="form-control" />
                        </div>
                        <label class=" control-label" style="font-size:20px;margin-left:20px">結束時間:</label>
                        <div id="ddlemp" class="col-sm-2">
                            <input id="EndTime" name="EndTime" type="date" class="form-control" />
                        </div>
                        <button id="Search" name="Search" type="button" class="btn btn-search" style="background-color:#787D7B;font-family:'Microsoft JhengHei';color:#FFFFFB">
                            <i class="fa fa-search fa-fw"></i><span>
                                <strong>搜尋</strong>
                            </span>
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive" id="OverTimeTable">
                            @Html.Partial("_OverTimeIndexPartialView", Model)

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>









@section scripts
{

    <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();
            $('#Search').bind("click",
                function () {

                    OTsearch();
                });


            d = new Date();
            $("#StartTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-01" );
            $("#EndTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate() ));
        });

        function OTsearch() {
            let a = $("#StartTime").val()
            let st = a.split('-')
            let Start = st[0] + st[1] + st[2]
            let et = $("#EndTime").val().split('-')
            let End = et[0] + et[1] + et[2]
            $.ajax({

                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "OverTimeRequests", action = "Overtimetable" })/" + Start + "/" + End,
            }).done(function (result) {

                    $("#OverTimeTable").html(result);
                    $('#basic-datatables').DataTable({
                });
                $("#basic-datatables_filter").hide();
                }).fail(function(e){
                alert(e.responseText);
                });
        }
        function zeroPadded(val) {
            if (val >= 10)
                return val;
            else
                return '0' + val;
        }
        function timechange() {
            swal("起始時間不可大於最後時間!", "", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-info'
                    }
                },
            });
        }

        $("#StartTime").bind("change", function () {
            if ($("#StartTime").val() > $("#EndTime").val()) {
                timechange();
                $("#StartTime").val($("#EndTime").val());
            }

        });





        $("#EndTime").bind("change", function () {
            if ($("#EndTime").val() < $("#StartTime").val()) {
                timechange();
                $("#EndTime").val($("#StartTime").val());
            }

        });







    </script>
}