@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <img src="~/Img/text_kosyouchuu.png" style="display:block; margin:auto;" />
    <img src="~/Img/kouji_rammer.png" style="display:block; margin:auto;" />
</div>