@model IEnumerable<AMS.Models.Departments>




<div class="page-inner">
    <div style="background-color:#91989F">
        <h1>
            <span class="badge" style="color:#FFFFFB">部門管理</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="mmmmmm">


                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-md-2 ">
                                <button id="Button1" type="button" class="btn btn-search mb-3" style="background-color:#f1f0ed;color:#3A3226;margin-left:10px" onclick="DepartmentsCreate()">
                                    <i class="fas fa-plus-square"></i><span>
                                        <strong>新增部門</strong>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="Employeestable">
                        @Html.Partial("_DepartmentsPartial", Model);
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>