@model IEnumerable<AMS.Models.Departments>




<div class="page-inner">
    <div style="background-color:#91989F">
        <h1>
            <span class="badge" style="color:#FFFFFB">部門管理</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="mmmmmm">
                @*<form style="margin-left:10px;" method="post" action="/Employees/SerchLeave">
                    <div class="card-header row form-group">
                        <label class=" control-label" style="font-size:20px;margin-left:20px">查詢起始時間</label>
                        <div class="col-md-2 col-sm-4">
                            <input name="time1" id="time1" class="form-control" type="date" />

                        </div>
                        <label class=" control-label" style="font-size:20px;margin-left:20px">到</label>
                        <div id="ddlemp" class="col-md-2 col-sm-4">
                            <input name="time2" id="time2" class="form-control" type="date" />
                        </div>
                        <div class="col-md-2 col-sm-4 noprint">
                            <button id="Button1" type="button" class="btn btn-search" style="background-color:#787D7B;font-family:'Microsoft JhengHei';color:#FFFFFB" onclick="GetSerchList('@Url.Action("SerchAttendances", "Employees")')">
                                <i class="fa fa-search fa-fw"></i><span>
                                    <strong>搜尋</strong>
                                </span>
                            </button>

                        </div>
                    </div>
                </form>
                <div class="form-group noprint">

                    <div class="float-left">

                        <button type="button" onclick="EmployeePrint()" class="btn btn-search mb-3" style="background-color:#f1f0ed;color:#3A3226">
                            <i class="icon-logout"></i> <span>
                                <strong>轉換PDF</strong>
                            </span>
                        </button>
                    </div>

                    @*<input type="button" value="匯出Excel" onclick="Export()" class="btn btn-sm " style="background-color:#f1f0ed;color:#91989F" />*@
                </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-2 ">
                            <button id="Button1" type="button" class="btn btn-search mb-3" style="background-color:#f1f0ed;color:#3A3226;margin-left:10px" onclick="DepartmentsCreate()">
                                <i class="fas fa-plus-square"></i><span>
                                    <strong>新增員工</strong>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="Employeestable">
                    @Html.Partial("_DepartmentsPartial", Model);
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
