@model IEnumerable<AMS.Models.AttendancesViewModel>

@{
    /**/

    ViewBag.Title = "SerchAttendances";
}

@*<label class=" control-label" style="font-size:35px;margin:10px"></label>*@
<body>
    <div class="page-inner">
        <div style="background-color:#91989F">
            <h1>
                <span class="badge" style="color:#FFFFFB">個人刷卡明細查詢</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="mmmmmm">
                    @*<form style="margin-left:10px;font-family:'Microsoft JhengHei'" method="post" action="/Attendances/SerchAttendances">*@

                        <div class="card-header row form-group">
                            <label class=" control-label pt-1" style="font-size:20px;margin-left:20px;">開始時間:</label>
                            <div class="col-sm-2">
                                <input name="time1" id="time1" class="form-control" type="date" />
                            </div>
                            <label class=" control-label pt-1" style="font-size:20px;margin-left:20px">結束時間:</label>
                            <div id="ddlemp" class="col-sm-2">

                                <input name="time2" id="time2" class="form-control" type="date" />
                            </div>
                            <div class="col-sm-2">
                                <button id="Button1" type="button" class="btn btn-search" style="background-color:#787D7B;color:#FFFFFB">
                                    <i class="fa fa-search fa-fw"></i><span>
                                        <strong>搜尋</strong>
                                    </span>
                                </button>
                                @*<input id="Button1" type="button" value="查詢" class="btn btn-search" style="background-color:#787D7B;font-family:'Microsoft JhengHei';color:#FFFFFB"
                                    >*@

                            </div>
                        </div>
                    @*</form>*@
                    <div class="card-body">
                        <div class="table-responsive">
                            @Html.Partial("_SerchAttendancesPartial", Model)
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>